.profile {
	display: flex;
	align-items: center;
	gap: calc(var(--offset-base-size) * 2);
	margin-left: auto;
	box-sizing: border-box;
	border-radius: var(--common-border-radius-s, 40px);
	color: var(--text-inactive-color, #8585AD);
	cursor: default;
	transition: var(--common-transition);
}

.profile:hover {
	color: var(--text-primary-color);
}

.active,
.active svg {
	color: var(--text-primary-color);
	fill: var(--text-primary-color);
}