.orders {
	display: flex;
	flex-direction: column;
	gap: calc(var(--offset-base-size) * 4);
}

.simplebar {
	height: calc(100vh - 240px);
	padding-right: calc(var(--offset-base-size) * 4);
	box-sizing: border-box;
}
