.orders {}

.header {
	display: flex;
	gap: calc(var(--offset-base-size) * 9);
	margin-bottom: calc(var(--offset-base-size) * 15);
}
.header__container {
	flex-basis: 50%;
}
.header__title {
	margin: 0 0 calc(var(--offset-base-size) * 6) 0;
}

.list {
	height: 152px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	column-gap: 10px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.list_theme_done {
	color: var(--colors-interface-success);
}

.item {}
.item:not(:last-child) {
	margin-bottom: calc(var(--offset-base-size) * 2);
}

.container {}
.container:not(:last-child) {
	margin-bottom: calc(var(--offset-base-size) * 15);
}

.title {
	margin: 0;
}

.number {
	margin: 0;
	text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
