.reset-password {
	width: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 180px;
	margin-bottom: auto;
}

.title {
	margin: 0 0 calc(var(--offset-base-size) * 6);
	text-align: center;
}

.form {
	max-width: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.group:not(:last-of-type) {
	margin-bottom: calc(var(--offset-base-size) * 6);
}

.input label {
	top: 8px;
}
.input p {
	margin: 0 0 0 calc(var(--offset-base-size) * 6);
}

.button {
	min-width: 167px;
	min-height: 56px;
	margin-top: calc(var(--offset-base-size) * 6);
}

.footer {
	margin: calc(var(--offset-base-size) * 20) 0 0;
}

.footer__text {
	margin: 0;
	text-align: center;
}
.footer__text:not(:first-child) {
	margin-top: calc(var(--offset-base-size) * 4);
}

.link {
	color: var(--colors-interface-accent);
	text-decoration: none;
	cursor: pointer;
	transition: var(--common-transition);
}
.link:hover {
	color: var(--text-primary-color);
}
