.nav {
	margin-right: 112px;
}

.list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.item {
	display: flex;
	align-items: center;
	gap: calc(var(--offset-base-size) * 2);
	box-sizing: border-box;
	border-radius: var(--common-border-radius-s, 40px);
	color: var(--text-inactive-color, #8585AD);
	cursor: default;
	transition: var(--common-transition);
}

.item:hover {
	color: var(--text-primary-color);
}

.active,
.active svg {
	color: var(--text-primary-color);
	fill: var(--text-primary-color);
}